
/*-------- HEADER --------*/
.header {
    background-color: #158ed4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.header a {
    color: whitesmoke;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    letter-spacing: .08em;
    font-weight: 700;
}

.header a:hover {
    color: #0c527a;
}

.logo-desk {
    position: absolute;
    top: 0;
    left: 0;
}

.inner-header,
.menu__nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu__nav ul > li {
    margin-left: 50px;
}

.inner-header {
    min-height: 70px;
}



/*-------- BANNER SLIDER --------*/
.banner {
    height: var(--banner-height-desk);
    position: relative;
}

.banner-filter {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
}

.slider div {
    height: var(--banner-height-desk);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arrow {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    z-index: 999;
}

.arrow-prev {
    left: 0;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAA7klEQVRIie3WQQpBURTGcb2SkZlSRgYWYGJo9EamTNiDZxOeRRixhbcAMlHIGhRlJDMpkb/JledEUs6R8i3g/Dq3e889icQ/vxAgDUy5ZWiBekDEfeYWcEegW6CgjdaAcww9Ar42WgR2otumNpoFVgLtaaNJYCTQMZDShrsCXQJZbbQl0D1Q0kZ9d2uvOQN1bTQPbES3bVXUwTOBRoD3idqvivAJ5O08OerQCi8DB3G5GlZ4YP6cYrgcIGsgZwF/Z2Q6PAMsBN5Xhx3+6FsMrPAq94vACahY4aHoWn/1cfB3lj2Hp4FJDB6YwP+8kwvBLQQ4VrWo1wAAAABJRU5ErkJggg==");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.arrow-next {
    right: 0;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAA70lEQVRIie3WMUoDURCA4RAQKzshYGXhASy0tEplGxu9g/ESxkNY6RU8gGIjJOAZBAUrsZOAKPksfMH1GbBxJhb5++XjLW9np9Va9J/Cla9GWMmCb33vAu0MeB1PFT4Ihwu+g9cGPMFBFt6vTj3GdhZ+WuGPWMuAl3Bd4TdYzsBXcVfh5+FwwTfxUuH9LLxXbve0d+xm4YPq1M/YyIDbPidZs9Fvz8WPvahwkv6qsVddrjd0o9FZn9NhNNrBQ4WeRaPzGZl+/iTu0YlGjyp0jK1otFtu7bQJ9qPRWavPcSha4Lkte5cNdChrvV30F30A7hgDN1exTwwAAAAASUVORK5CYII=");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.slick-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.slick-dots > li {
    margin-right: 10px;
}

.slick-dots > li:last-child {
    margin-right: 0;
}

.slick-dots > li button {
    background-color: #ffffffd0;
    color: transparent;
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

li.slick-active button {
    background-color: #38b7ff;
}


.whatsapp-icon {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
}


/* ABOUT US */

.about-us__cards,
.service__cards {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.about-us__cards .card {
    width: calc(100%/4);
}

.about-us__cards .card,
.service__cards .card {
    text-align: center;
}

.service__cards .card {
    width: calc(100%/3);
    margin-right: 50px;
}

.service__cards .card:last-child {
    margin-right: 0;
}

.about-us__cards p {
    margin-top: 1.2rem;
}

.welcome p {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}


.services {
    background-color: #f1f1f1;
}

.card__img {
    width: 100%;
    height: 250px;
}

.card__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card__text {
    background-color: #fff;
    padding: 1rem;
    min-height: 100px;
}


